body{
	background: blue;
	border: 1px solid red;
	color: white;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;
}

header{
	text-align: center;
}

header img{
	float: right;
	margin: -45px 20px 0px 0px;
	width: 150px;
}

header nav ul li{
	background: black;
	border-radius: 5px;
	display: inline-block;
	margin: 0px 10px 0px 0px;
	padding: 5px 10px;
	width: 84px;
}