body{
  font-size: 16px;
  width: 1024px;
  margin: 0 auto;
}

#logo{
  margin-top: 10px;
  margin-left: 15px;
}

#r1{
  padding-left: 680px;
}

#r1,#r2,#r3{
  margin-right: 5px;
  position: relative;
  vertical-align: middle;
}

header span{
  color: white;
  font-size: 1.6em;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 2px gray;
}

header nav{
  margin-top: 50px;
  background: linear-gradient(to bottom,
    #f88743 0%, #ebd1c5 20%, #d9490b 50%,#d9490b 100%);
  border-radius: 5px;
}

header nav ul{
  margin-left: -25px;
}

header nav ul li{
  display: inline-block;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 35px;
  font-size: 0.9em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

section{
  margin-left: 15px;
}
section article{
  display: inline-block;
}
#article01{

  width: 60%;
}

#imgslider{
  width: 95%;
}

#article01 article{
  border-bottom: 1px solid gray;
  width: 95%;
}

#art01art2{
  margin-top: 15px;
  padding-bottom: 20px;
}

#titulo{
  font-size: 2em;
  color: gray;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
}

#imgpost{
  margin-top: 12px;
  vertical-align: middle;
  border: 10px solid gray;
}

#fecha{
  background: #FAFAFA;
  padding-right: 100px;
  position: relative;
  top: 12px;
  vertical-align: top;
}

#leermas{
  background: gray;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

#lorem{
  border: 1px solid red;
  font-size: .8em;

  font-family: 'Roboto', sans-serif;
}

#article02 {
  width: 35%;
  margin-top: 30px;
  vertical-align: top;

}

#art02art1 img{
  width: 49%;
  position: relative;
  top: 30px;
}

#art02art1{
  border: 1px solid gray;
  border-radius: 10px;
  /*padding: top right bottom left
    padding: top and bottom right and left
    padding: top right and left bottom
  */
  padding: 0px 3px 40px 3px;
}

#art02art1 span, #art02art2 span, #art02art3 span {
  background: linear-gradient(to bottom,
    #f88743 0%, #ebd1c5 20%, #d9490b 50%,#d9490b 100%);
  border-radius: 15px;
  padding: 10px 40.5%;
  position: relative;
  margin-left: -4px;
  top: 8px;
  color: white;
}
